.typeSection{
  display: flex;
  gap: 1rem;
  margin: 1rem;
  
}

.detailsHeadline {
  font-size: 20px;
  text-shadow: 3px 3px 0 #2C72B8, -3px -3px 0 #2C72B8, 3px -3px 0 #2C72B8, -3px 3px 0 #2C72B8, 3px 0 0 #2C72B8, 0 3px 0 #2C72B8, -3px 0 0 #2C72B8, 0 -3px 0 #2C72B8;
  color: #FFCB05;
}


.abilitySection {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
}

.abilitySection h4 {
  font-size: 20px;
  text-shadow: 3px 3px 0 #2C72B8, -3px -3px 0 #2C72B8, 3px -3px 0 #2C72B8, -3px 3px 0 #2C72B8, 3px 0 0 #2C72B8, 0 3px 0 #2C72B8, -3px 0 0 #2C72B8, 0 -3px 0 #2C72B8;
  color: #FFCB05;

}

.abilityList {
 list-style: none;
 font-size: 1.3rem;
 font-weight: 700;
}



.healthPoints {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 7px solid rgba(33, 50, 134, 0.8);
  border-radius: 10px;
  background-color: rgba(67, 63, 56, 0.5);
  padding: 20px;
  margin-bottom: 10px;
}

.healthPoints h4 {
  margin: 0;

  font-size: 1.5rem;
  font-weight: 700;
  color: rgba(33, 50, 134, 0.8);
  font-size: 2rem;
  text-shadow: 3px 3px 0 #2C72B8, -3px -3px 0 #2C72B8, 3px -3px 0 #2C72B8, -3px 3px 0 #2C72B8, 3px 0 0 #2C72B8, 0 3px 0 #2C72B8, -3px 0 0 #2C72B8, 0 -3px 0 #2C72B8;
  color: #FFCB05;
}

.healthPoints p {
  font-size: 39px;
  margin-left: 10px;
  color: #fff;
}

hr {
  width: 90%;
  border: 1px solid rgba(33, 50, 134, 0.8);
  margin: 1rem 0;
}

@media only screen and (max-width: 600px){
  .abilitySection {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0.5rem;
  }
}
  