@font-face {
  font-family: 'Roboto_Condensed';
  src: url('./assets/fonts/Roboto_Condensed/RobotoCondensed-VariableFont_wght.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto_Condensed';
}

/* Header Styling */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem 6rem 1rem;
  gap: 2rem;
}

.headerBar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.searchBar {
  padding: 0.5rem;
  width: 25%;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 5px;
  border: 2px solid gray;
  color: gray;
}

.toggleButton {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: linear-gradient(to right, black 50%, white 50%);
  cursor: pointer;
}

.toggleButtonLight {
  border: 2px solid white;
}

.toggleButtonDark {
  border: 2px solid black;
}


/* Header1 Burger Menu Styling */

.burgerMenu {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.burgerMenuLineLight {
  border: 1px solid black;
  border-radius: 5px;
  width: 1.7rem;
  height: 2.3px;
  background-color: black;
}

.burgerMenuLineDark {
  border: 1px solid white;
  border-radius: 5px;
  width: 1.7rem;
  height: 1px;
}

/* Header2 Zurück Styling */

.back::before {
  font-size: 2.2rem;
  content: '🔙';
  background-color:  rgba(255, 255, 255, 0.9);
  padding: 0.5rem 0.8rem;
  border-radius: 50%;
}

/* Dark Mode Styling */

.dark-header {
  background-color: #333;
  color: #fff;
}

.light-header {
  background-color: #fff;
  color: #333;
}

/* Styling der Homepage */

.divHome {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem 0.5rem;
}

.divPreview {
  border: 7px solid rgb(221, 195, 5);
  border-radius: 10px;
  justify-self: center;
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,232,70,1) 100%);
  cursor: pointer;
}

.pokemonPreview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgDivPreview{
  position: relative;
  overflow: hidden;
  padding-bottom: 1rem;
}

.imgDivPreview:after{
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);
  
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right, 
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
  );
}

.imgDivPreview:hover:after {
  opacity: 1;
  top: -30%;
  left: -30%;
  transition-property: left, top;
  transition-duration: 1s;
  transition-timing-function: ease;
}

.imgDivPreview:active:after {
  opacity: 0;
}

.imgPreview {
  width: 20rem;
}

.pokemonPreviewDescript {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem 0.5rem 1rem;
  color: whitesmoke;
  background-color: rgba(33, 50, 134, 0.8);
  border-radius: 5px;
}

.fontPreview {
  font-size: 1.2rem;
  font-weight: 700;
}

.fontPreview::first-letter {
  text-transform: uppercase;
}

.buttonsPrevNext {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

/* Styling der Buttons (Prev und Next) in Home */

.buttonsHome {
  background-color: rgba(33, 50, 134, 0.9);
  cursor: pointer;
}

.buttonPrev::before {
  content: '< ';
}

.buttonNext::after {
  content: ' >';
}

/* Styling der DetailCard */

.secDetails {
  display: flex;
  justify-content: center;
}

.divDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  border: 7px solid rgb(221, 195, 5);
  border-radius: 10px;
  background: linear-gradient(20deg, rgba(63,94,251,1) 10%, rgba(252,232,70,1) 100%);
}

.divNameImg {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgDetails {
  width: 70%;
}

.test {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 7px solid rgba(33, 50, 134, 0.8);
  border-radius: 10px;
  background-color: rgba(67, 63, 56, 0.5);
  position: relative;
}

.pokeName {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.imgPokeball {
  position: absolute;
  width: 10%;
  bottom: -1rem;
  right: -1rem;
}

.fontName {
  font-size: 2rem;
  font-weight: 700;
  color: rgba(33, 50, 134, 0.8);
}

.fontName::first-letter {
  text-transform: uppercase;
}

/* Button Styling */

button{
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 700;
  color: whitesmoke;
  border: 2px solid #2C72B8;
  border-radius: 5px;
  width: 8rem;
  text-transform: uppercase;
}

.normal {
  background-color:#B3B3B3;
}

.bug {
  background-color:#3BB900;
}

.dark {
  background-color:black;
}

.dragon {
  background-color:#00458A;
}

.electric {
  background-color:#FFE600;
}

.fairy {
  background-color: #FFC2F9;
}

.fighting {
  background-color: #E40000;
}

.fire {
  background-color: #FF9900;
}

.flying {
  background-color: rgb(211, 158, 35);
}

.ghost {
  background-color: #5A1E64;
}

.grass {
  background-color: #57921C;
}

.ground {
  background-color: #965A00;
}

.ice {
  background-color: #6AD2FF;
}

.poison {
  background-color: #AB00AE;
}

.psychic {
  background-color: #FF81F2;
}

.rock {
  background-color: #E1B237;
}

.steel {
  background-color: #2A4950;
}

.water {
  background-color: #00A0E4;
}

.unknown {
  background-color: aliceblue;
  color: #6AD2FF;
}

.shadow {
  background-color: lightcoral;
}

/* Type Page Styling */

.secTypePage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding: 2rem;
}

.menuHead {
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: center;
  position: relative;
}

.backX {
  position: absolute;
  top: 0.7rem;
  right: 0;
  
  padding: 0.2rem 0.5rem;
  border-radius: 50%;
}

.backXDark {
  color: white;
  border: 2px solid white;
}

.backXLight {
  color: black;
  border: 2px solid black;
}

.divTypePage {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem 4rem;
}

.h2TypePage {
  font-size: 2.5rem;
  text-shadow: 3px 3px 0 #2C72B8, -3px -3px 0 #2C72B8, 3px -3px 0 #2C72B8, -3px 3px 0 #2C72B8, 3px 0 0 #2C72B8, 0 3px 0 #2C72B8, -3px 0 0 #2C72B8, 0 -3px 0 #2C72B8;
  color: #FFCB05;
}